#assets-container{
  margin: 20px;
}
#all-assets-container{
  margin-top: 25px;
}
.submit-container{
  text-align: center;
}

form button {
  width: 225px;
}
form button.edit-asset {
  width: 100px;
}

@media (min-width: 992px){
  label.placeholder{
    width: 225px;
  }
}

#search-asset-container{
  padding-top: 30px;
  border-top: 5px solid #ced4da;

}
