<div id="assets-container">
  <div id="create-asset-container" class="row">
    <div class="col-12">
      <form [formGroup]="newAsset" (ngSubmit)="submitNewAsset()" class="row">
        <input id="id" type="text" formControName="id" class="d-none">
        <div class="form-group col-lg-3 col-md-12">
          <label>Title</label>
          <input id="title" class="form-control" type="text" formControlName="title">
          <div *ngIf="newAssetSubmitted && newf.title.errors">
            <div *ngIf="newf.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-12">
          <label>Ticker</label>
          <input id="ticker" class="form-control" type="text" formControlName="ticker">
          <div *ngIf="newAssetSubmitted && newf.ticker.errors">
            <div *ngIf="newf.ticker.errors.required">Ticker is required</div>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-12">
          <label>Asset type</label>
          <select formControlName="assetType" class="form-control">
            <option *ngFor="let type of assetTypes" [ngValue]="type.id">{{ type.name }}</option>
          </select>
          <div *ngIf="newAssetSubmitted && newf.assetType.errors">
            <div *ngIf="newf.assetType.errors.required">Asset type is required</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="row">
            <div *ngIf="!editingAssetId" class="form-group col-12">
              <label class="placeholder">&nbsp;</label>
              <button type="submit" class="btn btn-primary" [disabled]="!newAsset.valid">Submit</button>
            </div>
            <div *ngIf="editingAssetId" class="form-group col-6">
              <label class="placeholder">&nbsp;</label>
              <button type="submit" class="btn btn-primary edit-asset" [disabled]="!newAsset.valid">Submit</button>
            </div>
            <div *ngIf="editingAssetId" class="form-group col-6">
              <label class="placeholder">&nbsp;</label>
              <button class="btn btn-primary edit-asset" [disabled]="!newAsset.valid" (click)="cancelEditing()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="search-asset-container" class="row">
    <div class="col-12">
      <form [formGroup]="searchAsset" (ngSubmit)="submitSearchAsset()" class="row">
        <div class="form-group col-lg-9 col-md-12">
          <input id="search-string" class="form-control" type="text" formControlName="searchString">
          <div *ngIf="searchAssetSubmitted && searchf.searchString.errors">
            <div *ngIf="searchf.searchString.errors.required">Search string is required</div>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-12 submit-container">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div id="all-assets-container" class=row>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Ticker</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of backendAssets">
            <td><span>{{ asset.title }}</span></td>
            <td><span>{{ asset.ticker }}</span></td>
            <td><span>{{ getAssetTypeName(asset.assetType) }}</span></td>
            <td>
              <button type="button" class="btn btn-link" (click)="editAsset(asset)">Edit</button>
              <button type="button" class="btn btn-link" *ngIf="editingAssetId!=asset.id" (click)="deleteAsset(asset.id)">Delete</button>
              <button type="button" class="btn btn-link" *ngIf="editingAssetId==asset.id" (click)="cancelEditing()">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
