<div class="assets-container">
  <div id="create-asset-container">
    <form [formGroup]="newAsset" (ngSubmit)="submitForm()">
      <div>
        <label>Title</label>
        <input it="title" type="text" formControlName="title">
        <div *ngIf="newAssetSubmitted && f.title.errors">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
      <div>
        <label>Ticker</label>
        <input it="ticker" type="text" formControlName="ticker">
        <div *ngIf="newAssetSubmitted && f.ticker.errors">
          <div *ngIf="f.ticker.errors.required">Ticker is required</div>
        </div>
      </div>
      <div>
        <label>Asset type</label>
        <select formControlName="assetType">
          <option *ngFor="let type of assetTypes" [ngValue]="type.id">{{ type.name }}</option>
        </select>
        <div *ngIf="newAssetSubmitted && f.assetType.errors">
          <div *ngIf="f.assetType.errors.required">Asset type is required</div>
        </div>
      </div>
      <button type="submit" [disabled]="!newAsset.valid">Create new asset</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Ticker</th>
        <th>Type</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of backendAssets">
        <td><span>{{ asset.title }}</span></td>
        <td><span>{{ asset.ticker }}</span></td>
        <td><span>{{ asset.assetType.name }}</span></td>
        <td><span>{{ asset.createdDateUtc | date:'yyyy-MM-dd' }}</span></td>
        <td>Edit</td>
      </tr>
    </tbody>
  </table>
</div>
