#assets-container{
  margin: 20px;
}
#all-assets-container{
  margin-top: 25px;
}
.submit-container{
  text-align: center;
}
form button.new-asset {
  margin-top: 30px;
}
form button {
  width: 250px;
  width: 250px;
}
