 <div class="asset-controls">
  <button>New asset</button>
</div>

<div class="assets-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Ticker</th>
        <th>Type</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td><span>{{ asset.title }}</span></td>
        <td><span>{{ asset.ticker }}</span></td>
        <td><span>{{ AssetType[asset.assetType] }}</span></td>
        <td><span>{{ asset.createdDateUtc | date:'yyyy-MM-dd' }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
