<!-- <div id="portfolio-container" class="row">
  <div class="col-4">
    <form [formGroup]="newPortfolio" (ngSubmit)="submitNewPortfolio()" class="row">
      <input id="id" type="text" formControName="id" class="d-none">

      <div class="form-group col-lg-3 col-md-12">
        <label>Title</label>
        <input id="title" class="form-control" type="text" formControlName="title">
      </div>

      <div class="col-lg-3 col-md-12">
        <label class="placeholder">&nbsp;</label>
        <button type="submit" class="btn btn-primary" [disabled]="!newPortfolio.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
<div id="portfolio-assets-container" class="row">
  <div class="col-12">
    <p>portfolio assets</p>
  </div>
</div>
<div id="portfolio-transactions-container" class="row">
  <div class="col-12">
    <p>portfolio transactions</p>
  </div>
</div> -->
